.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-top: 150px; /* Minska marginalen */
  padding: 50px;
  overflow: auto;
}

.movie-card {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px;
  text-align: center;
}

.movie-card h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.movie-card p {
  font-size: 14px;
  color: #555;
  margin-bottom: 10px;
}

.movie-card button {
  margin-top: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centrera innehållet horisontellt */
  justify-content: flex-start; /* Se till att det börjar högst upp */
}
